.header{
    width: 100%;
    display: flex;
    background-color: rgb(74, 72, 70);
    padding: 0.5%;
    position:relative;
    /* margin-bottom: 20%; */
  }

  .logo{
    display: flex;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 6px;
    border-radius: none;
    text-decoration: none;
    color: white;
    font-size: xx-large;
  }
/* 
  select{
    width: 15%;
  } */

  .input-button-div{
    position:relative;
    width: fit-content;
    display: flex;
    width: 100%;
    background-color: white;
  }

  .search-button{
    border-style: none;
    background-color: white;
    margin-right: 4px;
  }

  .login-name {
    text-decoration: none;
    color: #000;
  }

  /* .scroll-down{
    color: #000;
  } */

  .nav-input{
      padding: 0 16px;
      border-radius: 2px;
      border: 0;
      outline: 0 none;
      font-size: 14px;
      height: 36px;
      width: 100%;
  }

  .header-right {
    width: 100%;
   display: flex;
   justify-content: right;
   align-items: center;
  }

  .header-right > li{
      padding: 5px;
    /* text-transform: uppercase; */
    cursor: pointer;
    color: #ebebeb;
      min-width: 80px;
      margin-left: 9%;
    list-style: none;
  }
  
  /* li:hover {
    background-size: 100% 100%;
    color: #e1dfec;
    font-weight: bold;
  } */

  .log-name{
    color: rgb(239, 233, 233);
    text-transform:uppercase;
    text-decoration: none;
    margin-top: 5%;
    width: fit-content;
    display: flex;
  }

  .cart-button{
    color: black;
    font-size: large;
    transition: all 0.3s;
    cursor: pointer;
    /* border: none; */
    position: relative;
  }
  .cart-button:hover{
    transform: scale(1.3);
    color: white;
    background-color: gray;
    border: 1px solid grey;
    border-radius: 2px;
  }
  .cart-button::before {
    /* content: "5"; */
    position:absolute;
    top: -0.75em;
    right: -0.75em;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: red;
    color: white;
  }
  