.footer-container {
    background-color: rgb(74, 72, 70);
    color: white;
    cursor: pointer;
    /* margin-top: 3rem; */
}
.outer{
    display: flex;
    justify-content: space-evenly;
}
.footer-head{
    margin: 10px 0;
    color: darkgrey;
}
.mail-address {
    border-left: 2px solid grey;
    padding-left: 5px;
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
}
.icon{
    color: royalblue;
}